# Dependencies.
node_modules/

# Testing.
coverage/

# Build artifacts.
lib/
build/
dist/
tmp/
out/
.firebase/

# Various metadata.
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.eslintcache

# IntelliJ personal data.
**/.idea/dictionaries/
**/.idea/libraries/
**/.idea/tasks.xml
**/.idea/workspace.xml
